{%extends "base.html"%}
{%block imp_exp%}
{{side_pos}}
{%endblock%}

{%block imp_exp_div_main_form%}
<div class="um_hor_separation"></div>
<div class="um_form_service">
    <form class="um_form_service" action="" enctype="multipart/form-data" method="POST">
        <div  style="margin: 20px; width: 700px;">
            <div class="input-group mb-3">
                <h5>Обновить информацию о пользователях:</h5>
            </div>
                <div class="">
                    Текущая синхронизация с доменами:
                    <br>
                    <ol>
                    {% for value in domain_data %}
                        <li>{{ value.domain_name}}</li>
                    {% endfor %}
                    </ol>
                </div>
            <br>
            <input style="display: none;" name="domain" value="domain">
            <input  class="btn btn-warning" type="submit" value="Импортировать пользователей"  >
        </div>
            <div>
                Если пользователя нет в <b>"Карточке"</b>, нажмите <b>"Ипортировать пользователей"</b>.
            </div>
    </form>
<hr>
<!-- Экспорт -->
<form class=" row g-2" action="{{ url_for('export') }}" enctype="multipart/form-data" method="POST">
    <div  >
        <div  style = "margin: 20px; width: 700px;" class="input-group mb-3">
            <h5>Экспорт данных:</h5>
        </div>

        
        <div style = "margin: 20px; width: 700px;" class="input-group mb-3">
        <div class="col-auto ">
            <!-- <label for="inputState" class="form-label">Объект поиска:</label> -->
            <select style="width: 390px;" id="inputState" name="export" class="form-select">
            <option  selected>Пользователи и сервисы</option>
            <option>Пользователи и объекты</option>
            </select>
            
        </div>
        <div class="col-auto ">
            <input  style="margin-left: 20px;" class="btn btn-warning" type="submit" value="экспорт">
        </div>
        </div>
    </div>
</form>
</div>



<div class="um_hor_separation"></div>

<!-- <form class="um_form_service" action="" enctype="multipart/form-data" method="POST">
    <div  style="margin: 20px; width: 700px;">
        <div class="input-group mb-3">
            <h5>Импорт файла с пользователями:</h5>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" name="file" accept=".csv">
        </div>
        <div class="input-group mb-3">
            <input  class="btn btn-primary" type="submit" value="Импортировать пользователей" >
        </div>
        
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'error' %}
            {% set alert_class = 'alert-warning' %}
        {% else %}
            {% set alert_class = 'alert-info' %}
        {% endif %}
            <div class="alert {{alert_class}} fade show" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endwith %}
        </div>
    </div>
</form> -->


        
{%endblock%}
