{%extends "base.html"%}
{%block imp_exp%}
{{side_pos}}
{%endblock%}

{%block imp_exp_div_main_form%}
<div class="um_hor_separation"></div>

<form class="um_form_service" action="" enctype="multipart/form-data" method="POST">
    <div  style="margin: 20px; width: 700px;">
        <div class="input-group mb-3">
            <h5>Обновить информацию о пользователях:</h5>
        </div>
        <div class="">
            Текущая синхронизация с доменами:
            {% for value in domain_data %}
            <ul>
                <li>{{ value.domain_name}}</li>
            </ul>
            {% endfor %}
        </div>
        <br>
        <input  class="btn btn-primary" type="submit" value="Импортировать пользователей" >
        </div>
        
</div>
</form>
<div class="um_hor_separation"></div>

<!-- <form class="um_form_service" action="" enctype="multipart/form-data" method="POST">
    <div  style="margin: 20px; width: 700px;">
        <div class="input-group mb-3">
            <h5>Импорт файла с пользователями:</h5>
        </div>
        <div class="mb-3">
            <label for="formFile" class="form-label"></label>
            <input class="form-control" type="file" name="file" accept=".csv">
        </div>
        <div class="input-group mb-3">
            <input  class="btn btn-primary" type="submit" value="Импортировать пользователей" >
        </div>
        
{% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'error' %}
            {% set alert_class = 'alert-warning' %}
        {% else %}
            {% set alert_class = 'alert-info' %}
        {% endif %}
            <div class="alert {{alert_class}} fade show" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endwith %}
        </div>
    </div>
</form> -->


        
{%endblock%}
