{%extends "base.html"%}
{%block options%}
{{side_pos}}
{%endblock%}

{%block options_div_main_form%}
<!-- Настройки Active Directory -->

<div class="um_hor_separation"></div>
<form class="needs-validation  um_form_service" action="{{ url_for('options') }}" enctype="multipart/form-data" method="POST" novalidate>
    <div  style="margin: 20px; width: auto;">
        <div class="input-group mb-3">
            <h5>Опции подключения к домену:</h5>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text " id="basic-addon1">Имя домена:</span>
            <input style="background-color: #212529; color: #b3b3b3;" type="text" class="form-control " placeholder="Например intra.apur" id="domain_name" name="domain_name" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Порт:</span>
            <select style="background-color: #212529; color: #b3b3b3;" id="device_type_name" name="port_name" class="form-select" aria-label="Default select example" required>
              <option selected>389</option>
              <option  value="636">636</option>
            </select>
        </div>
        <div class="input-group mb-3">
           
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tls" id="inlineRadio1" value="yes">
            <label class="form-check-label" for="inlineRadio1">Использовать TLS</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="tls" id="inlineRadio2" value="no" checked>
            <label class="form-check-label" for="inlineRadio2">Без TLS</label>
          </div>
          </div>
          <hr>
          <div class="input-group mb-3">
            <span class="input-group-text " id="basic-addon1">Пользователь:</span>
            <input style="background-color: #212529; color: #b3b3b3;" type="text" class="form-control " placeholder="DN пользователя который просматривает домен" id="user_name" name="user_name" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text " id="basic-addon1">Пароль:</span>
            <input style="background-color: #212529; color: #b3b3b3;" type="password" class="form-control " placeholder="" id="pwd_name" name="pwd_name" required>
        </div>
        <hr>
        <div class="input-group mb-3">
            <span class="input-group-text " id="basic-addon1">DN поиска:</span>
            <input style="background-color: #212529; color: #b3b3b3;" type="text" class="form-control " placeholder="DN поиска пользователей" id="search_name" name="search_name" required>
        </div>
        
        <div class="input-group mb-3">
            <input  class="btn btn-primary" type="submit" value="Применить" >
        </div>
        </form>
    
    </div>
    <div class="um_hor_separation"></div>
    <div  style="margin: 20px; width: auto;" class="um_form_service">
        <div class="input-group mb-3">
            <h5>Текущие опции подключения к домену:</h5>
        </div>
    <div class="input-group mb-3">
        <table style="background-color: #212529; color: #b3b3b3;" class="table table-dark table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">Имя домена</th>
                <th scope="col">Порт</th>
                <th scope="col">TLS</th>
                <th scope="col">Пользователь</th>
                <th scope="col">DN поиска</th>
              </tr>
            </thead>
            <tbody>
        {% for value in domain_data %}
           
              <tr>
                <th scope="row">{{ value.domain_name }}</th>
                <td>{{ value.port_name }}</td>
                <td>{{ value.tls }}</td>
                <td>{{ value.user_name }}</td>
                <td>{{ value.search_name }}</td>
              </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    </div>

<!-- {% with messages = get_flashed_messages(with_categories=true) %}
    {% for category, message in messages %}
        {% if category == 'error' %}
            {% set alert_class = 'alert-warning' %}
        {% else %}
            {% set alert_class = 'alert-info' %}
        {% endif %}
            <div class="alert {{alert_class}} fade show" role="alert">
        {{ message }}
    </div>
    {% endfor %}
{% endwith %}
        </div>
    </div> -->



        
{%endblock%}
