{%extends "base.html"%}
{%block search%}
{{side_pos}}
{%endblock%}

{%block search_div_main_form%}
<div class="um_hor_separation"></div>

<div class="input-group mb-3 um_form_search">

<!-- Поиск по пользователю -->
<div style="margin: 20px; width:500px;">
<form class="row g-2 needs-validation" action="{{ url_for('search') }}" method="POST" id="user_name_form" novalidate>
    <div class="input-group mb-3">
    <h5>Информация по пользователям:</h5>
    </div>
    <div class="col-auto">
    <input style="width: 390px; margin-bottom: 20px; border: 2px solid #72a2e0;" id="user_name" name="user_name" class="um_form_input_search"  list="datalistOptions" placeholder="Выберите пользователя" required>
    <datalist id="datalistOptions">
    {% for value in user %}
    <option  value="{{ value.user_name }}">
    {% endfor %}
    </datalist>
  </div>
  <div class="col-auto">
    <label for="inputState" class="form-label"></label>
    <input  class="btn btn-warning" type="submit" value="Поиск">
  </div>
</form>

<!-- Поиск по содержимому -->
<form  class="row g-2 needs-validation" action="{{ url_for('search') }}" method="POST" id="object_data_form" novalidate>
  <div class="col-auto">
    <label for="inputCity" class="form-label">Поиск по содержанию:</label>
    <input style="margin-right: 0; width: auto ;" type="text" class="form-control" id="object_data" name="object_data" placeholder="">
  </div>
  <div class="col-auto">
    <label for="inputState" class="form-label">Объект поиска:</label>
    <select id="inputState" name="type" class="form-select">
      <option  selected>Идентификатор</option>
      <option>Инвентарный №</option>
      <option>Тип объекта</option>
      <option>Имя сервиса</option>
    </select>
  </div>
  <div class="col-auto">
    <input style="margin-top: 32px; margin-left: 5px;" class="btn btn-warning" type="submit" value="Поиск">
  </div>
</form>
</div>
</div>

<div class="um_hor_separation"></div>

<div  style="margin-left: 10px;" class="input-group mb-3 um_form_search" >
 
<div style="{{ display }} margin-top: 10px;"  class="" id="hide_user_data">
  <div style="margin-top: 10px;" class="input-group mb-3">
    <h5>Результаты поиска:</h5>
  </div>
Выбранный пользователь: <h6>{{ user_name }}</h6>
<input style=" border: 2px solid #72a2e0; " class="input-group mb-3 um_form_input" list="datalistOptions" id="search_data" name="search_data" placeholder="Поиск в найденных элементах">

<form class="d-flex gap-5 " action="{{ url_for('remove_from_user') }}" method="POST" id="remove_from_user" novalidate> 

    <div class="list-group mx-0 w-auto mostly-customized-scrollbar " style="margin-top: 15px; overflow-y: auto; height: 70vh;" id="test">
      <input style="display: none;"  type="text" value="{{ user_name }}" name="user_name">
    {% set i = namespace(value=0) %}
    {% for value in service_data %}
      
     <label class="list-group-item list_items um_service_list">
       <input class="form-check-input flex-shrink-0" type="checkbox" value="{{ value.service_name }}" name="check_service_{{ i.value }}" id="service_name_value">
       <fieldset disabled>
       <input style="display: none;"  type="text" value="{{ value.service_name }}" id="service_name_value{{ i.value }}">

       </fieldset> 
       <span>
         <h6>{{  value.service_name }}</h6>
         <small class="d-block text-muted">{{ value.service_text }}
          <hr class="um_service_hr">
          <strong>URL или ip сервиса:</strong>  <a href="{{ value.service_url }}">{{ value.service_url }}</a>
          <hr class="um_service_hr">
          <strong> Ответсвенный:</strong>  {{ value.service_owner }}
         </small>
         <hr class="um_service_hr">

       </span> 
     </label>
        {% set i.value = i.value + 1 %} 
    {% endfor %}

  </div>


  <div class="list-group mx-0 w-auto mostly-customized-scrollbar" style="margin-top: 15px; overflow-y: auto; height: 70vh;">
   
  {% set i = namespace(value=0) %}
  {% for value in object_data %}

   <label class="list-group-item list_items  um_service_list">
     <input class="form-check-input flex-shrink-0" type="checkbox" value="{{ value.device_ident }}" name="device_ident_{{ i.value }}" id="device_ident{{ i.value }}">
     <fieldset disabled>
      <input style="display: none;"  type="text" value="{{ value.device_ident }}" id="device_ident_value{{ i.value }}">

     </fieldset>
     <span>
       <h6>ID: {{ value.device_ident }}</h6>
       <small class="d-block text-muted">
        <hr class="um_service_hr">
        <strong>Инвентарный №:</strong>  {{ value.device_inv }}
        <hr class="um_service_hr">
        <strong>Тип устройства:</strong>  {{ value.device_type }}
        <hr class="um_service_hr">
        <strong>Доп. информация:</strong>  {{ value.device_text }}
       </small>
       <hr class="um_service_hr">

     </span> 
   </label>
      {% set i.value = i.value + 1 %} 
  {% endfor %}
  </div>
 
</form>
<div style="" сlass="input-group mb-3">

  <input form="remove_from_user" class="btn btn-danger" type="submit" value="Убрать объекты у пользователя">
</div>
</div>


<!-- object output -->

<div style="{{ display_user }} "  class="" id="hide_user">
  <form  style="width: auto;" class="needs-validation um_form_service" action="" method="POST" id="" novalidate> 
    <div class="input-group mb-3">
      <h5> <b>{{ object_name }}</b> - имеется у следующих пользователей:</h5>
      </div>
      <div class="list-group mx-0 w-auto mostly-customized-scrollbar " style="margin-top: 15px; overflow-y: auto; height: 70vh;">
      {% set i = namespace(value=0) %}
      {% for value in user_data %}
       <label class="list-group-item list_items um_service_list">
         <span>
           <h6>{{  value.user_name }}</h6>
           <hr class="um_service_hr">
  
         </span> 
       </label>
          {% set i.value = i.value + 1 %} 
      {% endfor %}
    </div>
  
  </form>

<script src="{{ url_for('static', filename='/js/jquery-3.6.1.min.js') }}"></script>
<!-- Поиск по списку сервисов -->
<script src="{{ url_for('static', filename='/local_js/search_object.js') }}"></script>




</div>




{%endblock%}
